@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hero {
  font-family: "Koh Santepheap";
}
